@model Gestion_Inventario.ViewModels.ProductViewModels

<form asp-controller="Home" asp-action="Index" method="post">
    <h2>Agregar producto</h2>

    <input type="hidden" asp-for="producto.IdProducto" />

    <div class="form-group">
        <label class="control-label">Nombre</label>
        <input type="text" asp-for="producto.Nombre" class="form-control" />
        <span asp-validation-for="producto.Nombre"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Descripcion</label>
        <input type="text" asp-for="producto.Descripcion" class="form-control" />
        <span asp-validation-for="producto.Descripcion"></span>
    </div>
    <div>
        <label class="control-label">Precio</label>
        <input type="text" asp-for="producto.Precio" class="form-control" />
        <span asp-validation-for="producto.Precio"></span>
    </div>
    <div>
        <label class="control-label">Cantidad</label>
        <input type="text" asp-for="producto.CantidadDisponible" class="form-control" />
        <span asp-validation-for="producto.CantidadDisponible"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar producto</button>

</form>
<div class="Vista-Productos">
    <h2>Vista de productos</h2>
    <form method="get" asp-action="Index">
        <input type="text" name="filtroNombre" value="@Model.FiltroNombre" placeholder="Buscar por nombre" />
        <button type="submit">Filtrar</button>
    </form>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        @if (Model.ListaProductos.Any())
        {
            <tbody>

                @foreach (var producto in Model.ListaProductos)
                {
                    <tr>
                        <td>@producto.IdProducto</td>
                        <td>@producto.Nombre</td>
                        <td>@producto.Descripcion</td>
                        <td>@producto.Precio</td>
                        <td>@producto.CantidadDisponible</td>
                        <td style="display:flex; justify-content: space-around; align-items:center";>
                            <form asp-controller="Home" asp-action="Update" method="post" asp-route-id="@producto.IdProducto" style="background-color: black; height: 0px;">
                                <button type="submit">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </form>
                            <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@producto.IdProducto" style="background-color: black; height: 0px;">
                                <button>
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>

                        </td>
                    </tr>
                }

            </tbody>
        } else
        {
            <tr>
                        <td>No hay productos para mostrar</td>
            </tr>
        }

        
    </table>
</div>


